body {
  font-family: helvetica, arial, sans-serif;
  color: #3d3d3d;
  background-color: black;
}

.placeholder {
  position: relative;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-top: -350px;
  scale: 1.5;
  margin-left: -155px;
  border: 3px dashed #fff;
  border-radius: 15px;
  pointer-events: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.placeholderActivo {
  position: relative;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-top: -350px;
  scale: 1.5;
  margin-left: -155px;
  border: 5px dashed rgb(4, 255, 4);
  border-radius: 15px;
  pointer-events: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#webcamButton {
  margin-top: 15rem;
}

.containerCamera {
  /* visibility: hidden; */
}
.containerCameraVisible {
  visibility: visible;
}

@keyframes borderAnimation {
  0% {
    border-color: gray;
  }
  50% {
    border-color: red;
  }
  100% {
    border-color: gray;
  }
}

#webcam {
  border: 5px solid gray;
  border-radius: 50px;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  animation: borderAnimation 2s infinite; /* La animación dura 2 segundos y se repite infinitamente */
}

h1 {
  font-style: none;
  color: white;
}

#detectedCardTitle {
  color: white !important;
}

video {
  display: block;
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.camView {
  position: relative;
  float: left;
  width: calc(100% - 20px);
  margin: 10px;
  cursor: pointer;
}

.highlighter {
  /* background: rgba(0, 255, 0, 0.25); */
  border: none;
  z-index: 1;
  position: absolute;
}
